.footer {
    position: relative;

    .mobile {
        display: none;
    }

    .desk {
        display: block;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 40px;

    img {
        margin-bottom: 0;
        margin-right: 200px;
    }

    .main-list {
        margin-bottom: 0;
    }

    .left-side {
        display: flex;
        flex-direction: row;
    }

    .menu-list {
        margin-right: 0;
        margin-left: 0;

        a {
            font-size: 16px;
        }
    }

    .contacts__item {
        font-size: 20px;
    }


    }

}