.partners {

    background-color: #F8F1EA;
    padding-bottom: 50px;


    h3 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        color: $black;
        padding-top: 50px;
        margin-bottom: 30px;
    }

    .company__item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        margin-left: 15px;
        width: 50px;
        height: 90px;
        cursor: pointer;
    }

    .slick-dots li button:before {
        color: $tomato-light;
        font-size: 12px;
      }

}