header {

    .container {
        min-height: 80px;
    }

    .menu {	
        
        .menu-list {
            .menu-list__item a {
                font-weight: 500;
                font-size: 20px;
            }
        }
    }
}